<!DOCTYPE html>
<html ng-app="app">
<head>
<meta charset="UTF-8">
<title>Portfolio Java Web App</title>

<script
  src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js">
</script>
<script src="view/app.js"></script>
<script>
function showDialog()
{
	var favDialog = document.getElementById('updatePortfolioDialog');
	
	if (typeof favDialog.showModal === "function") {
	      favDialog.showModal();
	    } else {
	      alert("The dialog API is not supported by this browser");
	    }
}

function closeDialog()
{
	var favDialog = document.getElementById('updatePortfolioDialog');	
	favDialog.close();	
}
</script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
	<div ng-controller="PortfolioCtrl" ng-init="getPortfolio()">
	
		<dialog id="updatePortfolioDialog">
			<form>
				<label>Title:<input type="text" name="title" ng-model="portfolio.title" required/></label><br>
				<label>Description:<input type="text" name="description" ng-model="portfolio.description" required/></label><br>
			    <label>Image URL:<input type="url" name="image_url" ng-model="portfolio.image_url" required/></label><br>
			    <label>Twitter User Name:<input type="text" name="twitter_user_name" ng-model="portfolio.twitter_user_name" required/></label><br>
			    <input type="submit" ng-click="updatePortfolio();" value="Update"/>
			    <span>{{$scope.message}}</span>
    			
			    <button onclick="closeDialog()">Close</button>	
			</form>
		
			
		</dialog>
		
		
		<table border="0" width="100%">
			<tr>
				<td>
					<img ng-src="{{portfolio.image_url}}" height="200"/></br>
				</td>
				<td valign="top">
					<h2>{{portfolio.title}}</h2></br>
					<h4>My Work Experience</h4></br>
					<p>{{portfolio.description}}</p>
				</td>
			</tr>
			<tr>
				<td colspan="2">
				<p ng-show="!tweets.length">
					<span>There are not tweets</span>
				</p>
				<div  ng-repeat="t in tweets" >
        				<div>
            				<small><b>{{t.user.name}}</b></small>
            				<br> <small>{{t.text}}</small>
        				</div>    	
    			</div>
				</td>
			</tr>
		</table>
		<br/>
		<button onclick="showDialog()">Update Information</button>
	</div>
</body>
</html>